<div class="container-fluid">
  <ul class="ul-menu">
    <li class="li-menu">
      <a routerLink="/create-branch" class="a-menu" role="button">Utwórz oddział</a>
    </li>
    <li class="li-menu">
      <a routerLink="/config-branch" class="a-menu" role="button">Skonfiguruj oddział</a>
    </li>
    <li class="li-menu">
      <a routerLink="/list-branches" class="a-menu" role="button">Lista odziałów</a>
    </li>
    <li class="li-menu" *ngIf="!authenticator.isLoggedIn()">
      <a routerLink="/login" class="a-menu" role="button">Logowanie</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
